*{
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.nav{
    text-decoration: none;
    display: flex;
    padding-left: 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(12, 6, 6);
    background-color: rgb(136, 136, 12);
    text-align: center;
    align-items: center;
    justify-content: center;
    /* text-decoration: overline; */
    font-size: 2rem;
} 
.home{
    color: white;
    padding-top: 25px;
    padding-left: 77rem;
    text-decoration: none;
}
.home:hover{
    color: white;
    text-decoration: underline;
    transition-duration: 2s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}
.page{
    /* text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(252, 235, 197);

    padding-top: 50px;
    box-sizing: border-box;
    min-height: calc(0px + 100vh);
    padding-bottom: 75px !important; */
    /* margin-top: 3rem; */
    padding-left: 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(12, 6, 6);
    background-color: rgb(136, 136, 12);
    text-align: center;
    align-items: center;
    justify-content: center;
    /* text-decoration: overline; */
    font-size: 2rem;
}


.vitaminb1{
    background-image: url(https://img.freepik.com/premium-vector/vitamin-b1-thiamine-water-drops-capsule-red-gradient-background-vitamin-complex-with-chemical-formula-information-medical-poster-vector-illustration_297535-3806.jpg);
    background-size: contain;
}

.vitaminA{
    /* padding-top: 3rem;
    padding-bottom: 3rem; */
    background-image: url(https://c8.alamy.com/comp/2BF78MM/healthy-products-rich-in-vitamin-a-on-white-background-2BF78MM.jpg);
    background-size: contain;
}
.vitaminb12{
    background-image: url(https://img.freepik.com/premium-vector/drop-water-vitamin-b12-blue-structure-vitamin-complex-with-chemical-formula-from-nature_228260-564.jpg);
    background-size: contain;
}


b{
    padding-left: 10px;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.f{
    padding-left: 10px;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
/* ul{
    align-items: center;
    justify-content: center;
} */

.text{
    font-size: large;
    font-style: italic;
}
A{
    padding-left: 20rem;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(12, 6, 6);
    background-color: rgb(136, 136, 12);
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: overline;
    font-size: 2rem;
}















